<html>
  <head
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="head_fragment(title, scripts, links)"
  >
    <meta charset="utf-8" />
    <!--スマートフォン・デバイス対応-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--タイトル-->
    <title th:text="${pageTitle}"></title>
    <!--resetcss-->
    <link rel="stylesheet" href="/css/reset.css" />
    <!--Bootstrap/CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <!--共通CSS-->
    <link rel="stylesheet" href="/css/common.css" />
    <!--各ページ別CSS-->
    <link rel="stylesheet" href="/css/top.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/add.css" />
    <link rel="stylesheet" href="/css/edit.css" />
    <link rel="stylesheet" href="/css/list.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!--各ページ別JS-->
    <script src="/js/fileUpload.js" defer></script>
    <script src="/js/pullDown.js" defer></script>
    <!--Bootstrap/JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
  </head>
</html>
