@charset "utf-8";

/***
 共通設定
***/
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
}
body {
  color: var(--font-color);
  font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "メイリオ", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
select,
::picker(select) {
  appearance: base-select;
}
/* スピナー 常時表示 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
/*CSS変数*/
:root {
  /*color*/
  --primary-color: #1b5678;
  --secondary-color: #ee6969;
  --font-color: rgba(0, 0, 0, 0.75);
  --item-color: rgba(0, 0, 0, 0.87);
  --black-color: #000;
  --white-color: #fff;
  /*font-size*/
  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 1.8rem;
  --fs-4: 1.6rem;
  --fs-5: 1.2rem;
  --fs-6: 1rem;
  /*font-weight*/
  --fw-b: bold;
}
h1 {
  margin: 0;
  font-size: var(--fs-1);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn--loggedIn {
  width: 170px;
}
/***
  Utility
***/

/***
  Component
***/

.c-form {
  width: 480px;
}

/*ログインボタン（右上）*/
.c-btn--md {
  background-color: var(--white-color);
  border-radius: 4px;
  width: 152px;
  padding: 16px 40px;
  font-size: var(--fs-3);
  color: var(--font-color);
  text-align: center;
}
.c-btn--md:hover {
  color: var(--font-color);
}
/*ログアウトボタン*/
.c-btn--md--loggedIn {
  background-color: var(--white-color);
  border-radius: 4px;
  width: 170px;
  padding: 16px 40px;
  font-size: var(--fs-3);
  color: var(--font-color);
  text-align: center;
}
.c-btn--md--loggedIn:hover {
  color: var(--font-color);
}

/*ユーザー登録ページのボタン*/
.c-btn--lg {
  width: 268px;
  padding: 16px 80px;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: var(--fs-3);
  color: var(--white-color);
  text-align: center;
}
.c-btn--lg:hover {
  color: var(--white-color);
}

/*トップページ・自己紹介ボタン*/
.c-btn--lg--top {
  width: 242px;
  padding: 16px 40px;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: var(--fs-3);
  color: var(--white-color);
  text-align: center;
}
.c-btn--lg--top:hover {
  color: var(--white-color);
}

/*トップページ・学習チャートボタン*/
.c-btn--md--chart {
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 152px;
  padding: 16px 40px;
  font-size: var(--fs-3);
  color: var(--white-color);
  text-align: center;
}
.c-btn--md--chart:hover {
  color: var(--white-color);
}

/*自己紹介編集ページ*/
.c-btn--lg--edit {
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 322px;
  padding: 16px 80px;
  font-size: var(--fs-3);
  color: var(--white-color);
  text-align: center;
}
.c-btn--lg--edit:hover {
  color: var(--white-color);
}
.c-btn-file-upload {
  width: 202px;
  height: 32px;
  border: 0;
  border-radius: 4px;
  font-size: 1.4rem;
  color: var(--font-color);
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

/*項目一覧ページ 追加ボタン*/
.c-btn--md--item--add {
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 178px;
  height: 48px;
  font-size: 1.4rem;
  color: var(--white-color);
  text-align: center;
}
.c-btn--md--item--add:hover {
  color: var(--white-color);
}

/*項目一覧ページ 学習時間の保存ボタン*/
.c-btn--md--learning--save {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  width: 158px;
  padding: 8px 16px;
  font-size: 1.4rem;
  color: var(--primary-color);
  text-align: center;
}
.c-btn--md--learning--save:hover {
  color: var(--primary-color);
}

.c-btn--md--learning--delete {
  background-color: var(--secondary-color);
  border-radius: 4px;
  width: 88px;
  padding: 8px 16px;
  font-size: 1.4rem;
  color: var(--white-color);
  text-align: center;
}
.c-btn--md--learning--delete:hover {
  color: var(--white-color);
}

/***
 header
***/
header {
  margin-bottom: 80px;
}
/*項目一覧ページ*/
.is-learning-archive-page_header {
  margin-bottom: 40px;
}
#header {
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 120px;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 40px;
}

#header h1 {
  color: var(--white-color);
}
#header h1 a {
  color: inherit;
}
/**ログインページ用のheader**/
.is-login-page {
  justify-content: center;
}

.is-login-page h1 {
  text-align: center;
  width: 100%;
}

/***
 footer
***/
footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 40px;
  margin-top: 319px;
}
.is-learning-archive-page_footer {
  margin-top: 87px;
}
#footer small {
  font-size: var(--fs-3);
  font-weight: normal;
  line-height: 40px;
}
