@charset "utf-8";

/***
  ユーザー情報の編集
***/

.p-profile-app_user_update .title {
  font-size: var(--fs-1);
  margin-bottom: 80px;
}
.p-profile-app_user_update th,
.p-profile-app_user_update td {
  display: block;
}
.p-profile-app_user_update th {
  color: rgba(0, 0, 0, 0.54);
  font-size: var(--fs-5);
  margin-bottom: 7px;
}
.p-profile-app_user_update td {
  margin-bottom: 48px;
}
.p-profile-app_user_update .text_form {
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid var(--black-color);
  font-size: var(--fs-4);
  width: 100%;
}

/*validation時のcss*/
.p-profile-app_user_update .hasErrors_validaton--form {
  margin-bottom: 0;
}
.p-profile-app_user_update .hasErrors_validaton--text {
  color: red;
  border: none;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 48px;
}

/*ファイルアップロードボタン*/
.file-upload-inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 202px;
  height: 32px;
  opacity: 0;
  cursor: pointer;
}
.file-name {
  margin-left: 20px;
  font-size: 1.4rem;
  color: var(--font-color);
}
