@charset "utf-8";

/***
  学習情報の追加
***/
.p-profile-app_learning_new .title {
  font-size: var(--fs-1);
  width: 466px;
  margin-bottom: 80px;
}
.p-profile-app_learning_new th,
.p-profile-app_learning_new td {
  display: block;
}
.p-profile-app_learning_new th {
  color: rgba(0, 0, 0, 0.54);
  font-size: var(--fs-5);
  font-weight: 400;
  margin-bottom: 2px;
}
.p-profile-app_learning_new td {
  margin-bottom: 48px;
}

.p-profile-app_learning_new .input_form {
  width: 100%;
  height: 26.5px;
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid #949494;
  font-size: var(--fs-4);
  font-weight: 400;
}
.p-profile-app_learning_new .normal-status-text {
  font-size: var(--fs-5);
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}
/*validation時のcss*/
.p-profile-app_learning_new .hasErrors_validaton--form {
  margin-bottom: 0;
}
.p-profile-app_learning_new .hasErrors_validaton--text {
  color: red;
  border: none;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 48px;
}
.p-profile-app_learning_new .hasErrors_validaton--text--delete {
  display: none;
}

/*Modalのcss*/
.p-profile-app_learning_new .custom-modal-content {
  width: 640px;
  padding: 50px 0;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.p-profile-app_learning_new .modal-message-custom {
  margin-inline: auto;
  max-width: 251px;
  width: fit-content;
  text-align: left;
  font-size: var(--fs-3);
  font-weight: bold;
  color: var(--font-color);
  border: none;
  margin-bottom: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.p-profile-app_learning_new .custom-modal-bg {
  background-color: rgba(0, 0, 0, 0.25);
}
