<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity-3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <section class="p-profile-app_skill" th:fragment="content">
    <select
      class="learning-term"
      name="期間"
      id="month-select"
      onchange="changeContent()"
    >
      <option
        th:each="month, stat : ${distinctMonths}"
        th:value="${#temporals.format(month, 'yyyy-MM')}"
        th:text="${#temporals.format(month, 'M月')}"
        th:selected="${#temporals.format(month, 'yyyy-MM') == selectedMonth}"
      ></option>
    </select>

    <!--月ごとのコンテンツコンテナ・ループ-->
    <div th:each="entry : ${monthlyRecordsMap}">
      <!-- 月別コンテンツエリア -->
      <div th:id="${entry.key}" class="display_content">
        <!-- カテゴリーごとのループ  -->
        <div
          th:each="categoryEntry : ${entry.value}"
          th:with="categoryRecords=${categoryEntry.value}"
        >
          <!-- リストが空でなければ、最初のレコードを格納 -->
          <div
            th:if="${not #lists.isEmpty(categoryRecords)}"
            th:with="firstRecord=${categoryRecords[0]}"
          >
            <div class="learning-data mx-auto">
              <div class="head">
                <h3
                  class="title"
                  th:text="${firstRecord.getJapaneseCategoryName()}"
                ></h3>
                <a
                  class="c-btn--md--item--add"
                  th:href="@{/learning/new(category=|${categoryEntry.key}|, month=|${entry.key}|)}"
                >
                  項目を追加する
                </a>
              </div>
              <table class="table-form">
                <thead>
                  <tr class="t-head">
                    <th class="item-name" th:text="${itemName}"></th>
                    <th class="learning-time" th:text="${learningTime}"></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 項目ごとのループ -->
                  <tr class="t-content" th:each="record : ${categoryRecords}">
                    <td class="name" th:text="${record.subjectName}"></td>

                    <td class="time">
                      <form
                        th:action="@{/learning/update}"
                        method="post"
                        th:id="|update-form-${record.id}|"
                      >
                        <!-- IDをhiddenフィールドとして含める -->
                        <input
                          type="hidden"
                          name="id"
                          th:value="${record.id}"
                        />
                        <input
                          type="number"
                          th:value="${record.learningTime}"
                          min="0"
                          step="1"
                        />
                      </form>
                    </td>
                    <td class="save">
                      <input
                        class="c-btn--md--learning--save"
                        type="submit"
                        value="学習時間を保存する"
                        th:form="|update-form-${record.id}|"
                      />
                    </td>
                    <td class="delete">
                      <form
                        th:action="@{/learning/delete}"
                        method="post"
                        onsubmit="return confirmDelete(this);"
                      >
                        <!-- IDをhiddenフィールドとして含める -->
                        <input
                          type="hidden"
                          name="id"
                          th:value="${record.id}"
                        />
                        <input
                          class="c-btn--md--learning--delete"
                          type="submit"
                          value="削除する"
                        />
                      </form>
                    </td>
                  </tr>
                  <!-- 科目ごとのループ -->
                </tbody>
              </table>
            </div>
          </div>
          <!-- リストが空でなければ、最初のレコードを格納 -->
        </div>
        <!-- カテゴリーごとのループ  -->
      </div>
      <!-- 月別コンテンツエリア -->
    </div>
    <!--月ごとのコンテンツコンテナ・ループ-->

    <!-- Bootstrap モーダルの構造 -->
    <div
      class="modal fade custom-modal-bg"
      id="successModal"
      tabindex="-1"
      aria-labelledby="successModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-content">
          <p id="modal-message" class="modal-message-custom">
            <!--メッセージ-->
          </p>
          <button
            type="button"
            class="c-btn--lg--modal"
            id="redirectToListViewButton"
            data-bs-dismiss="modal"
          >
            編集ページへ戻る
          </button>
        </div>
      </div>
    </div>
    <!--モーダル ここまで-->
  </section>
</html>
