@charset "utf-8";

/***
  新規ユーザー登録画面
**/

.p-profile-app_user_add .title {
  font-size: var(--fs-1);
  margin-bottom: 80px;
}
.p-profile-app_user_add th,
.p-profile-app_user_add td {
  display: block;
}
.p-profile-app_user_add th {
  color: rgba(0, 0, 0, 0.54);
  font-size: var(--fs-5);
}
.p-profile-app_user_add td {
  margin-bottom: 48px;
}
.p-profile-app_user_add .input_form {
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid var(--black-color);
  font-size: var(--fs-4);
  width: 100%;
}

/*validation時のcss*/
.p-profile-app_user_add .hasErrors_validaton--form {
  margin-bottom: 0;
}
.p-profile-app_user_add .hasErrors_validaton--text {
  color: red;
  border: none;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 48px;
}
.duplicate_msg {
  color: red;
}
