<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootapplication.repository.UserInfoMapper">

    <resultMap id="UserInfoResultMap" type="com.spring.springbootapplication.entity.UserInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password_digest" property="passwordDigest"/> 
        <result column="image" property="image"/>
        <result column="profile_detail" property="profileDetail"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="search" resultMap="UserInfoResultMap">
        SELECT
            *
        FROM
            users
        WHERE 1 = 1
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
    </select>

    <select id="findByName" resultMap="UserInfoResultMap">
        SELECT 
            id, 
            name, 
            email, 
            password_digest, 
            image, 
            profile_detail, 
            updated_at, 
            created_at
        FROM 
            users
        WHERE 
            name = #{name}
    </select>

    <select id="findByEmail" resultMap="UserInfoResultMap">
        SELECT 
            id, 
            name, 
            email, 
            password_digest, 
            image, 
            profile_detail, 
            updated_at, 
            created_at
        FROM 
            users
        WHERE 
            email = #{email}  
    </select>

    <insert id="save">
        INSERT INTO users
            (name, email, password_digest, updated_at, created_at)
        VALUES
            (#{name}, #{email}, #{passwordDigest}, CURRENT_TIMESTAMP,  CURRENT_TIMESTAMP)
    </insert>

</mapper>